<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NSpectator.Selenium" version="0.9.9" targetFramework="net452" />
  <package id="NUnit" version="3.6.0" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Selenium-WebDriver-Helpers" version="2.3.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.13.0" targetFramework="net452" />
  <package id="Selenium.Helper" version="1.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.27.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.7.485" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.JQuery" version="1.7.485" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver64" version="3.0.0.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.13.0" targetFramework="net452" />
</packages>